admin/node_modules
client/node_modules
nest/node_modules
server/node_modules

nest/dist
server/dist
.idea
dump.rdb


admin/.env.development
admin/.env.production

client/.env.development
client/.env.production

nest/.env

server/.env.production
server/.env.development
server/.env.test