{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@components": "./components",
          "@config": "./config",
          "@lib": "./lib",
          "@useHooks": "./useHooks",
          "@module": "./modules"
        }
      }
    ]
  ]
}